#########################################################
# Ignore downloaded files
#########################################################
/pillar
/pharo
/pharo-ui
/pharo-vm
/Pharo.changes
/Pharo.image

/crash.dmp

#########################################################
# Ignore temporary ~ files
#########################################################

*~
